In [3]:
import pandas as pd

In [4]:
df_step1_1 = pd.read_csv('step1.1.csv')
df_step1_2 = pd.read_csv('step1.2.csv')

In [6]:
df_step1_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478999 entries, 0 to 478998
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gvkey     478999 non-null  int64
 1   datadate  478999 non-null  object
 2   fyear     478630 non-null  float64
 3   indfmt    478999 non-null  object
 4   consol    478999 non-null  object
 5   popsrc    478999 non-null  object
 6   datafmt   478999 non-null  object
 7   tic       478792 non-null  object
 8   cusip     478817 non-null  object
 9   conm      478999 non-null  object
 10  curcd     478630 non-null  object
 11  acqsc     7387 non-null    float64
 12  act       299696 non-null  float64
 13  aqs       204382 non-null  float64
 14  at        396463 non-null  float64
 15  ebit      348713 non-null  float64
 16  lct       302984 non-null  float64
 17  lt        395577 non-null  float64
 18  re        384894 non-null  float64
 19  rea       274366 non-null  float64
 20  reajo     340274 non-null  float64
 21  recta     340926 non-null  float64
 22  reuna     336931 non-null  float64
 23  reunr     37278 non-null   float64
 24  sale      354949 non-null  float64
 25  salepfc   7238 non-null    float64
 26  salepfp   6242 non-null    float64
 27  unwcc     835 non-null     float64
 28  uwkcapc   835 non-null     float64
 29  wcap      297555 non-null  float64
 30  wcapc     25156 non-null   float64
 31  wcapch    14741 non-null   float64
 32  costat    478999 non-null  object
 33  mkvalt    216823 non-null  float64
 34  conml     478998 non-null  object
 35  ipodate   180861 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 131.6+ MB

In [7]:
df_step1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478999 entries, 0 to 478998
Data columns (total 27 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gvkey     478999 non-null  int64
 1   datadate  478999 non-null  object
 2   fyear     478630 non-null  float64
 3   indfmt    478999 non-null  object
 4   consol    478999 non-null  object
 5   popsrc    478999 non-null  object
 6   datafmt   478999 non-null  object
 7   tic       478792 non-null  object
 8   curcd     478630 non-null  object
 9   act       299696 non-null  float64
 10  at        396463 non-null  float64
 11  ebit      348713 non-null  float64
 12  ebitda    346422 non-null  float64
 13  lct       302984 non-null  float64
 14  lt        395577 non-null  float64
 15  re        384894 non-null  float64
 16  rea       274366 non-null  float64
 17  reajo     340274 non-null  float64
 18  recta     340926 non-null  float64
 19  reuna     336931 non-null  float64
 20  reunr     37278 non-null   float64
 21  sale      354949 non-null  float64
 22  wcap      297555 non-null  float64
 23  wcapc     25156 non-null   float64
 24  wcapch    14741 non-null   float64
 25  costat    478999 non-null  object
 26  mkvalt    216823 non-null  float64
dtypes: float64(18), int64(1), object(8)
memory usage: 98.7+ MB

In [5]:
print(df_step1_1.equals(df_step1_2))

False